@import 'vars';
@import 'colors';
@import 'mixins';


.root {
  margin: 0 auto;

  @include desktop{
    width: 820px;
  }

  @include mobile{
    width: 100%;
  }
}


.content{
  display: flex;
  align-items: flex-start;

  @include desktop{
    margin-bottom: 100px;
  }

  @include mobile{
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
