@import 'vars';
@import 'colors';
@import 'mixins';


.root,
.rootBase{
  @include desktop{
    flex: 0 0 232px;
    margin-right: 20px;
  }

  @include mobile{
    flex: 0 0 100%;
  }
}


.rootBase{
  height: 300px;
}


.root {
  background-color: $white-main;
  padding: 15px 0;
  box-shadow: $shadow-card;

  @include desktop{
    border-radius: $radius-main;
  }
}
