@import 'vars';
@import 'colors';
@import 'mixins';


.root {
  flex: 0 0 232px;
  border-radius: $radius-main;
  background-color: $white-main;
  padding: 15px 0;
  margin-right: 20px;
  box-shadow: $shadow-card;
}
