@import 'vars';
@import 'colors';
@import 'mixins';


.root,
.rootBase{
  flex: 0 0 232px;
  margin-right: 20px;
}


.rootBase{
  height: 300px;
}


.root {
  border-radius: $radius-main;
  background-color: $white-main;
  padding: 15px 0;
  box-shadow: $shadow-card;
}
