@import 'vars';
@import 'colors';
@import 'mixins';


.root {
  position: relative;
  background-color: $white-main;
  border-right: 1px solid $gray-light;
  padding: 25px 20px;
  flex: 0 0 200px;
  border-radius: $radius-main 0 0 $radius-main;
}


.logo{
  width: 100%;
  height: 35px;
}
