@import 'vars';
@import 'colors';
@import 'mixins';


.root {
  position: relative;
  background-color: $white-main;

  @include desktop{
    border-radius: $radius-main 0 0 $radius-main;
    flex: 0 0 200px;
    padding: 25px 20px;
    border-right: 1px solid $gray-light;
  }

  @include mobile{
    flex: 0 0 100%;
    padding: 20px 15px;
  }
}


.logo{
  width: 100%;
  height: 35px;
}
