$blue-light: #F3F7FA;

$blue-twilight: #F2FCFF;

$blue-main: #2196F3;


$white-main: #fff;


$gray-light: #ECEFF1;

$gray-main: #D2D5D6;

$gray-dark: #4A4A4A;

$gray-oslo: #8B9497;


$orange-light: #FF8124;

$orange-main: #FF6D00;

$orange-dark: #D64D08;