@import 'vars';
@import 'colors';
@import 'mixins';


.rootBase{
  height: 166px;

  + .rootBase{
    margin-top: 20px;
  }
}


.root {
  display: flex;
  position: relative;
  border-radius: $radius-main;
  box-shadow: $shadow-card;
  background-color: $white-main;

  + .root{
    margin-top: 20px;
  }

  @include animateSlow(box-shadow);

  &:before{
    display: block;
    position: absolute;
    content: "";
    height: 46px;
    width: calc(100% - 17px);
    left: 8.5px;
    bottom: 0;
    opacity: 0;
    box-shadow: 0 10px 50px rgba(91, 137, 164, .25);

    @include animateSlow(opacity);
  }

  @include hover{
    box-shadow: 0 5px 25px rgba(91, 137, 164, .1);

    &:before{
      opacity: 1;
    }
  }
}
