@import 'vars';
@import 'colors';
@import 'mixins';


.root {
  width: 100%;

  @include mobile{
    margin-top: 40px;
  }
}


.emptyStub{
  height: 166px;
  line-height: 166px;
  background-color: $white-main;
  border-radius: $radius-main;
  color: $gray-main;
  font-size: 14px;
  text-align: center;
  box-shadow: $shadow-card;
}