@import 'vars';
@import 'colors';
@import 'mixins';


.root {
  padding: 6px;
  background-color: $orange-main;
  cursor: pointer;
  text-align: center;
  color: $white-main;
  border-radius: $radius-main;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  box-shadow: 0 1px 0 $orange-dark;

  @include desktop{
    margin-top: 20px;
  }

  @include mobile{
    margin-top: 10px;
  }

  @include animateFast(background-color, box-shadow, transform);

  @include hover{
    box-shadow: 0 1px 0 $orange-dark, 0 1px 5px rgba(0,0,0, .25);
    background-color: $orange-light;
  }

  @include active{
    background-color: $orange-main;
    box-shadow: none;
    transform: translateY(1px);
  }
}
