@import 'vars';
@import 'colors';
@import 'mixins';


.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 161px;
}


.logo{
  height: 90px;
  width: 90px;
}
