@import 'vars';
@import 'colors';
@import 'mixins';


.root {
  position: relative;
  background-color: $white-main;
  width: 100%;
  padding: 25px;
  border-radius: 0 $radius-main $radius-main 0;
}


.container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  + .container{
    margin-top: 10px;
  }
}
